body{
    margin:0;
}

header {
    size:20%;
    display:block;
    font-size: 1.4em;
    margin: 0;
    background-color:aquamarine;
    color:white;
}

header h1 {
    display:inline-block;
    height:60pt;
    margin:0;
    padding:5pt;
}


nav{
    font-size:1.4em;
    background-color: darkturquoise;
}

nav::after{
    content:"";
    display: table;
    clear:both;
}

.navoption {
    padding-top:0.5%;
    padding-bottom: 0.5%;
    display:block;
    float:left;
    width: 33%;
    text-align: center;
}

.navoption:hover{
    background-color: aqua;
}

#history {
    border-left: 2pt solid black;
    border-right: 2pt solid black;
}



#greet-user {
    margin-top: 10pt;
    margin-right: 10pt;
    text-decoration: underline;
    color: white;
    float: right;
}

#logout {
    margin:0;
    padding:0;
    color: white;
    float: right;
    height: 70pt;
}

#logout:hover {
    lighting-color: aliceblue;
}
