#modalContainer {
    height : 100%;
    width : 100%;
    position : absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#alertBox {
    position : relative;
    vertical-align: center;
    background-color : white;
    width : 50%;
    height : 30%;
    border : 1pt solid gray;
    border-radius : 5pt;
    display: flex;
    flex-direction: row;
}

#alertcheck {
    display:block;
    height: 70%;
    margin-top:5%;
}

#alertmsg {
    margin-top:5%;
    margin-bottom:5%;
}

#closeNotif {
    display: block;
    flex-grow: 1;
    float:right;
    padding: 5pt;
    position: absolute;
    top:0;
    right:0;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: bold;
}