#browse {
    background-color: rgb(242,102,0);
}

#bookdetail {
    display:flex;
    flex-direction: row;
}

#imgdetail {
    margin-right:5%;
    padding:10pt;
}


#searchbar {
    width: 90%;
    font-size: 1em;
    height:1.5em;
    padding: 2pt;
    border: 2pt solid rgb(120,120,120);
    border-radius: 3pt; 
}
